# Ignore everything
**

# But exclude these specific files
!poetry.lock
!pipeline.py
!graph_utils.py
!home.py
!pyproject.toml
!pages
!dsp
!config.yaml
!services
!utils
!graphs
!data_models
!sigma_dashboards
!access_control.py
!streamlit_apps